<head>
    <title>URL Shortener | <%= title %></title>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, BOOTSTRAP">
    <meta name="description" content="URL Shortener application">
    <meta name="author" content="Abhishek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>